.custom {
    --spacing: .9rem;

    --primary: #58a028;
    --primary-bg: #def4b8;
    --secondary: #e7ff5f;
    --secondary-bg: rgb(255, 255, 199);
    --surface: oklch(from var(--body-bg) calc(l - .01) c h);
    --error: #B3261E;
    --error-bg: #F9DEDC;
    --disabled: #9CA3AF;
}