.custom {
    --spacing: 1rem;

    --primary: #f06432;
    --primary-container: #ffdbcc8b;
    --secondary: #845ec2;
    --secondary-container: #e4d8f7;
    --surface: #ffffce;
    --surface: #fffffcc6;
    --error: #B3261E;
    --error-container: #F9DEDC;
}