/*
page.adv.tsx
page.root.tsx
page.svg.tsx
css.tsx
*/

.light {
    --blog-title-color: ;
    --visibility: ;
    --svg-ring-width: 4px;
    --svg-ring-color: #82f680;
    --marquee-width: ;
    --keyframes-marqu2ee-100-height: ;
    --keyframes-marqu2ee-100-col: red;
    --marquee-font-color: ;
    --marquee-span-bg: ;
    --neon-pink: ;
    --input-placeholder: ;
    --dom-decoration: ;
    --dom-border: ;
    --dom-display: ;
    --box-dom-bg-hover: yellow;
    --box-dom-col-hover: ;
    --box-hello: 4px;
    --box-hi: ;
    --box-alola: ;
    --svg-ring-bg: #3b82f6;
    --s2g-background-color: #A7F3D0;
    --hell2o-col: orange;
    --hello--stepper-col: orange;
    --marqu2ee-span-col: #000;
    --fieldfont-col: ;
}

.night {
    --blog-title-color: ;
    --visibility: ;
    --svg-ring-width: 4px;
    --svg-ring-color: #3b82f680;
    --marquee-width: ;
    --keyframes-marqu2ee-100-height: ;
    --keyframes-marqu2ee-100-col: blue;
    --marquee-font-color: ;
    --marquee-span-bg: ;
    --neon-pink: ;
    --input-placeholder: ;
    --dom-decoration: ;
    --dom-border: 1px solid blue;
    --dom-display: ;
    --box-dom-bg-hover: red;
    --box-dom-col-hover: ;
    --box-hello: 4px;
    --box-hi: ;
    --box-alola: ;
    --svg-ring-bg: #3b82f6;
    --s2g-background-color: #A7F3D0;
    --hell2o-col: blue;
    --hello--stepper-col: blue;
    --marqu2ee-span-col: #fff;
    --fieldfont-col: ;
}

.blog-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: var(--blog-title-color);
    display: inline-block;
    position: relative;
    margin-bottom: .7rem;
}

.blog-item:hover .blog-title {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: .4rem;
    text-decoration-color: var(--primary);
}

.blog-meta {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: .4em;
    margin: 4px 0;
}

.CodeCard {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    transition: transform 0.2s ease-in-out;
}

.CodeCard:hover {
    transform: translateY(-2px);
}

.IconGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.IconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    transition: all 0.2s;
}

.IconItem svg {
    background: #5c1d5c11;
}

.IconItem:hover {
    background: #fe81e720;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.IconLabel {
    font-size: 0.75rem;
    color: #6b7280;
    text-align: center;
}

.dom {
    position: fixed;
    decoration: var(--dom-decoration);
    border: var(--dom-border);
    display: var(--dom-display);
}

.box .dom:hover {
    visibility: var(--visibility);
    background: var(--box-dom-bg-hover);
    color: var(--box-dom-col-hover);
}

.s2g {
    box-shadow: 0 0 #0000, 0 0 0 var(--svg-ring-width) var(--svg-ring-color), 0 0 #0000;
    background-color: var(--s2g-background-color);
}

#hell2o {
    color: var(--hell2o-col);
}

#hello>.stepper {
    color: var(--hello--stepper-col);
}

.marqu2ee {
    font-color: var(--marquee-font-color);
}

.marqu2ee span {
    color: var(--marqu2ee-span-col);
    font-size: 200px;
    background: var(--marquee-span-bg);
}

.typewri2ter-animation {
    animation: typewriter 5s steps(50) 1s 1 normal both,
        blinkingCursor 500ms steps(50) infinite normal;
}

.tab-le2vel:not(:last-child)::after {
    content: '';
}

.tab-lev2el.level-2 {
    padding-left: 4rem;
    background: rgba(0, 0, 0, 0.03);
}

.flicker-text {
    margin-bottom: 10px;
    text-shadow: 0 0 20px var(--neon-pink),
        0 0 30px var(--neon-pink);
}

fieldfont {
    font-size: 1rem;
    color: var(--fieldfont-col);
    font-size: 1rem;
}

field2 {
    line-height: 1.5rem;
}

field2:focus::placeholder {
    color: var(--input-placeholder);
    transition: color 0.2s ease-out;
}

.Glitter[data-has-label="true"]:focus,
.Glitter[data-has-label="true"]:not(:placeholder-shown) {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.AppTextInput[data-has-label="true"]:focus,
.AppTextInput[data-has-label="true"]:not(:placeholder-shown) {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.potato {
    width: 100%;
}

@keyframes marqu2ee {
    100% {
        transform: translateX(-100%);
        width: var(--marquee-width);
        height: var(--keyframes-marqu2ee-100-height);
        color: var(--keyframes-marqu2ee-100-col);
    }
}

@keyframes flicker {
    0%,
    100% {
        text-shadow:
            0 0 10px var(--neon-pink),
            0 0 20px var(--neon-pink),
            0 0 30px var(--neon-pink);
    }
}

@media (min-width: 700px) {}

@media (min-width: 800px) {
}

@media (min-width: 900px) {
    f6 {
        font-size: 1rem;
        line-height: 1.4rem;
        font-weight: 400;
    }
}
