/*
css.tsx
*/

.light {
    --visibility: ;
    --svg-ring-width: 4px;
    --svg-ring-color: #82f680;
    --marquee-width: ;
    --keyframes-marquee-100-height: ;
    --keyframes-marquee-100-col: red;
    --marquee-font-color: ;
    --marquee-span-bg: ;
    --neon-pink: ;
    --input-placeholder: ;
    --stepper-decoration: ;
    --stepper-border: ;
    --stepper-display: ;
    --box-stepper-bg-hover: yellow;
    --box-stepper-col-hover: ;
    --box-hello: 4px;
    --box-hi: ;
    --box-alola: ;
    --svg-ring-bg: #3b82f6;
    --svg-background-color: #A7F3D0;
    --hello-col: orange;
    --hello--stepper-col: orange;
    --marquee-span-col: #000;
    --p-col: ;
}

.night {
    --visibility: ;
    --svg-ring-width: 4px;
    --svg-ring-color: #3b82f680;
    --marquee-width: ;
    --keyframes-marquee-100-height: ;
    --keyframes-marquee-100-col: blue;
    --marquee-font-color: ;
    --marquee-span-bg: ;
    --neon-pink: ;
    --input-placeholder: ;
    --stepper-decoration: ;
    --stepper-border: 1px solid blue;
    --stepper-display: ;
    --box-stepper-bg-hover: red;
    --box-stepper-col-hover: ;
    --box-hello: 4px;
    --box-hi: ;
    --box-alola: ;
    --svg-ring-bg: #3b82f6;
    --svg-background-color: #A7F3D0;
    --hello-col: blue;
    --hello--stepper-col: blue;
    --marquee-span-col: #fff;
    --p-col: ;
}

@keyframes marquee {
    100% {
        transform: translateX(-100%);
        width: var(--marquee-width);
        height: var(--keyframes-marquee-100-height);
        color: var(--keyframes-marquee-100-col);
    }
}

@keyframes flicker {
    0%,
    100% {
        text-shadow:
            0 0 10px var(--neon-pink),
            0 0 20px var(--neon-pink),
            0 0 30px var(--neon-pink);
    }
}

@media (min-width: 700px) {}

@media (min-width: 800px) {
}

@media (min-width: 900px) {
    h6 {
        font-size: 1rem;
        line-height: 1.4rem;
        font-weight: 400;
    }
}

.stepper {
    position: fixed;
    decoration: var(--stepper-decoration);
    border: var(--stepper-border);
    display: var(--stepper-display);
}

.box .stepper:hover {
    visibility: var(--visibility);
    background: var(--box-stepper-bg-hover);
    color: var(--box-stepper-col-hover);
}

.svg {
    box-shadow: 0 0 #0000, 0 0 0 var(--svg-ring-width) var(--svg-ring-color), 0 0 #0000;
    background-color: var(--svg-background-color);
}

#hello {
    color: var(--hello-col);
}

#hello>.stepper {
    color: var(--hello--stepper-col);
}

.marquee {
    font-color: var(--marquee-font-color);
}

.marquee span {
    color: var(--marquee-span-col);
    font-size: 200px;
    background: var(--marquee-span-bg);
}

.typewriter-animation {
    animation: typewriter 5s steps(50) 1s 1 normal both,
        blinkingCursor 500ms steps(50) infinite normal;
}

.tab-level:not(:last-child)::after {
    content: '';
}

.tab-level.level-2 {
    padding-left: 4rem;
    background: rgba(0, 0, 0, 0.03);
}

.flicker-text {
    margin-bottom: 10px;
    text-shadow: 0 0 20px var(--neon-pink),
        0 0 30px var(--neon-pink);
}

p {
    padding-left: 4rem;
    color: var(--p-col);
    background: red;
    font-size: 1rem;
}

h2 {
    line-height: 1.5rem;
}

h2:focus::placeholder {
    color: var(--input-placeholder);
    transition: color 0.2s ease-out;
}

.Glitter[data-has-label="true"]:focus,
.Glitter[data-has-label="true"]:not(:placeholder-shown) {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.AppTextInput[data-has-label="true"]:focus,
.AppTextInput[data-has-label="true"]:not(:placeholder-shown) {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.potato {
    width: 100%;
}
