/*
test/index.tsx
*/

.light {
    /* --visibility: ; */
    --svg-ring-width: 4px;
    --svg-ring-color: #82f680;
    /* --marquee-width: ; */
    /* --keyframes-marquee-100-height: ; */
    --keyframes-marquee-100-col: red;
    /* --marquee-font-color: ; */
    /* --marquee-span-bg: ; */
    /* --stepper-decoration: ; */
    /* --stepper-border: ; */
    /* --stepper-display: ; */
    --box-stepper-bg-hover: yellow;
    /* --box-stepper-col-hover: ; */
    --box-hello: 4px;
    /* --box-hi: ; */
    /* --box-alola: ; */
    --svg-ring-bg: #3b82f6;
    --svg-background-color: #A7F3D0;
    --hello--stepper-col: orange;
    --marquee-span-col: #000;
}

.night {
    /* --visibility: ; */
    --svg-ring-width: 4px;
    --svg-ring-color: #3b82f680;
    /* --marquee-width: ; */
    /* --keyframes-marquee-100-height: ; */
    --keyframes-marquee-100-col: blue;
    /* --marquee-font-color: ; */
    /* --marquee-span-bg: ; */
    /* --stepper-decoration: ; */
    --stepper-border: 1px solid blue;
    /* --stepper-display: ; */
    --box-stepper-bg-hover: red;
    /* --box-stepper-col-hover: ; */
    --box-hello: 4px;
    /* --box-hi: ; */
    /* --box-alola: ; */
    --svg-ring-bg: #3b82f6;
    --svg-background-color: #A7F3D0;
    --hello--stepper-col: blue;
    --marquee-span-col: #fff;
}

@keyframes marquee {
    100% {
        transform: translateX(-100%);
        width: var(--marquee-width);
        height: var(--keyframes-marquee-100-height);
        color: var(--keyframes-marquee-100-col);
    }
}
.stepper {
    position: fixed;
    decoration: var(--stepper-decoration);
}
.stepper {
    border: var(--stepper-border);
    display: var(--stepper-display);
}
.box .stepper:hover {
    visibility: var(--visibility);
    background: var(--box-stepper-bg-hover);
    color: var(--box-stepper-col-hover);
}
.svg {
    box-shadow: 0 0 #0000, 0 0 0 var(--svg-ring-width) var(--svg-ring-color), 0 0 #0000;
    background-color: var(--svg-background-color);
}
#hello > .stepper {
    color: var(--hello--stepper-col);
}
.marquee {
    font-color: var(--marquee-font-color);
}
.marquee span {
    color: var(--marquee-span-col);
    font-size: 200px;
    background: var(--marquee-span-bg);
}