/*
src/position.tsx
src/textinput.tsx
src/search.tsx
src/heading.tsx
src/dropdown.tsx
src/button.tsx
src/checkbox.tsx
src/theme_toggle.tsx
*/

.light {
    --SolPositionBox--button-col: #9c40ca;
    --SolPositionBox--button-bg: transparent;
    --SolPositionBox--button-border: none;
    --SolPositionBox--button-col-hover: #90328b;
    --SolPositionBox--button-background-color-hover: #efefef;
    --label-transform-x: 0.6rem;
    --label-transform-y: -1.0rem;
    --label-scale: 0.85;
    --input-label-focus-color: #983daf;
    --input-label-focus-bg: white;
    --AppTextInput-col: #111827;
    --AppTextInput-bg: #ffffff;
    --AppTextInput-border: 1px solid #d1d5db;
    --AppTextInput-border-radius: 0.5rem;
    --AppTextInput--border-color-focus: #8d40ec;
    --AppTextInput--box-shadow-focus: 2px 3px 1px #c4ced1;
    --AppTextInput--data-has-label--false--col-placeholder: #9ca3af;
    --AppTextInput--col-placeholder: #ae81e4;
    --SolInputLabel-col: #6B7280;
    --SolInputLabel-border: 1px solid transparent;
    --SolDropdown-bg: #e0e0e0;
    --SolDropdownHeader-col: #9c40ca;
    --SolDropdownHeader-bg: #cfcfcf;
    --SolDropdownHeader-border: none;
    --SolDropdownItem-col: #343434;
    --SolDropdownItem-bg: #ebebeb;
    --SolDropdownItem-border: none;
    --SolDropdownItem-col-hover: #d4d4d4;
    --SolDropdownItem-bg-hover: #6b6b6b;
    --mat-color: #ffffff;
    --mat-bg: #3b75c8;
    --mat-border: 1px solid #cbd5e1;
    --mat-hover-color: #ffffff;
    --mat-hover-bg: #4050c7;
    --mat-focus-color: #f00;
    --mat-focus-bg: #f00;
    --out-color: #475569;
    --out-bg: transparent;
    --out-border: 1px solid #cbd5e1;
    --out-hover-color: #6636e8;
    --out-hover-bg: #c2c2c238;
    --out-focus-color: yellow;
    --out-focus-bg: #f00;
    --input-accent-color: #111827;
    --label-disabled-color: #6B7280;
    --label-col: #111827;
    --label-p-col: #6B7280;
    --theme-toggle-col: #60A5FA;
    --theme-toggle-bg-hover: #F3F4F6;
}

.night {
    --SolPositionBox--button-col: #9c40ca;
    --SolPositionBox--button-bg: transparent;
    --SolPositionBox--button-border: none;
    --SolPositionBox--button-col-hover: #faa0f6;
    --SolPositionBox--button-background-color-hover: #353535;
    --label-transform-x: 0.6rem;
    --label-transform-y: -1.0rem;
    --label-scale: 0.85;
    --input-label-focus-color: #983daf;
    --input-label-focus-bg: white;
    --AppTextInput-col: #ffffff;
    --AppTextInput-bg: #3b3b3b;
    --AppTextInput-border: 1px solid #525252;
    --AppTextInput-border-radius: 0.5rem;
    --AppTextInput--border-color-focus: #8d40ec;
    --AppTextInput--box-shadow-focus: 2px 3px 1px #c4ced1;
    --AppTextInput--data-has-label--false--col-placeholder: #737373;
    --AppTextInput--col-placeholder: #737373;
    --SolInputLabel-col: #A1A1AA;
    --SolInputLabel-border: 1px solid transparent;
    --SolDropdown-bg: #575757;
    --SolDropdownHeader-col: #8a87e3;
    --SolDropdownHeader-bg: #454545;
    --SolDropdownHeader-border: none;
    --SolDropdownItem-col: #f8f8f8;
    --SolDropdownItem-bg: #4f4f4f;
    --SolDropdownItem-border: none;
    --SolDropdownItem-col-hover: #4b4b4b;
    --SolDropdownItem-bg-hover: #d7d7d7;
    --mat-color: #ffffff;
    --mat-bg: #204477;
    --mat-border: 1px solid #cbd5e1;
    --mat-hover-color: #ffffff;
    --mat-hover-bg: #102747;
    --mat-focus-color: #f00;
    --mat-focus-bg: #f00;
    --out-color: #fff;
    --out-bg: transparent;
    --out-border: 1px solid #cbd5e1;
    --out-hover-color: #fff;
    --out-hover-bg: #7d8dff4d;
    --out-focus-color: #f00;
    --out-focus-bg: green;
    --input-accent-color: #3473fc;
    --label-disabled-color: #9CA3AF;
    --label-col: #9b51ef ;
    --label-p-col: #ae93cc;
    --theme-toggle-col: #3B82F6 ;
    --theme-toggle-bg-hover: #374151 ;
}

.SolPositionBox {
    display: inline-flex;
}

.SolPositionBox>div {
    position: fixed;
    inset: 0px;
    z-index: 10;
    pointer-events: none;
}

.SolPositionBox>button {
    color: var(--SolPositionBox--button-col);
    background: var(--SolPositionBox--button-bg);
    border: var(--SolPositionBox--button-border);
    display: inline-flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    column-gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.SolPositionBox>button:hover {
    color: var(--SolPositionBox--button-col-hover);
    background-color: var(--SolPositionBox--button-background-color-hover);
}

.SolDragBox {
    position: fixed;
    inset: 0px;
    background-color: #FECACA;
    pointer-events: none;
}

.SolDragBox>div {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    color: #ffffff;
    background-color: #3B82F6;
    cursor: move;
    pointer-events: auto;
}

.AppTextInput {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 0.875rem;
    color: var(--AppTextInput-col);
    background: var(--AppTextInput-bg);
    border: var(--AppTextInput-border);
    border-radius: var(--AppTextInput-border-radius);
    outline: none;
    resize: vertical;
}

.AppTextInput[data-has-icon="true"] {
    padding-left: 2.75rem;
}

.AppTextInput[data-is-range="true"] {
    cursor: pointer;
}

.AppTextInput:focus {
    border-color: var(--AppTextInput--border-color-focus);
    box-shadow: var(--AppTextInput--box-shadow-focus);
}

.AppTextInput:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.AppTextInput:disabled~.SolInputLabel {
    opacity: 0.5;
}

.AppTextInput[data-has-label="true"]::placeholder {
    color: transparent;
}

.AppTextInput[data-has-label="false"]::placeholder {
    color: var(--AppTextInput--data-has-label--false--col-placeholder);
}

.AppTextInput:focus::placeholder {
    color: var(--AppTextInput--col-placeholder);
    transition: color 0.2s ease-out;
}

.AppTextInput[data-has-icon="true"]~.SolInputLabel {
    left: 2rem;
}

.AppTextInput:focus ~ .SolInputLabel,
.AppTextInput:not(:placeholder-shown) ~ .SolInputLabel {
    transform: translateX(var(--label-transform-x))
            translateY(var(--label-transform-y))
            scale(var(--label-scale));
    left: 0rem;
    height: auto;
    opacity: 1;
    color: var(--input-label-focus-color);
    background: var(--input-label-focus-bg);
    align-self: auto;
}

.AppErrorTextInput {
    border-color: #EF4444;
}

.AppErrorText {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6B7280;
}

.SolInputIcon {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-start: 0px;
    align-items: center;
    pointer-events: none;
    padding-inline-start: 1rem;
}

.SolPasswordIcon {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-end: 0px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    align-items: center;
    cursor: pointer;
}

.SolPasswordIcon:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.SolInputLabel {
    position: absolute;
    top: 0;
    margin: 0.25rem;
    padding: 0.25rem;
    color: var(--SolInputLabel-col);
    border: var(--SolInputLabel-border);
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    transform-origin: 0 0;
    align-self: anchor-center;
}

.searchinput {
    position: relative;
}

.searchinput>div {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
    pointer-events: none;
    inset-inline-start: 0px;
    padding-inline-start: 0.75rem;
}

input[type="search"] {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #D1D5DB;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: #F9FAFB;
    padding-inline-start: 2.5rem;
}

.searchinput>button {
    position: absolute;
    bottom: 0.625rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #1D4ED8;
    inset-inline-end: 0.625rem;
    bottom: 0.625rem;
}

.searchinput>button:hover {
    background-color: #1E40AF;
}

.searchinput>button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {}

h1 {
    font-size: 1.9rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

h2 {
    font-size: 1.7rem;
    line-height: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.025em;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 500;
    letter-spacing: -0.025em;
}

h5 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.025em;
}

h6 {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
}

p,
li {
    font-size: 0.85rem;
    line-height: 1.25rem;
}

.avatar {
    display: inline-block;
    object-fit: cover;
    object-position: center;
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 9999px;
}

.SolDropdown {
    background: var(--SolDropdown-bg);
    border-radius: .3rem;
    padding: .3rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.SolDropdownHeader {
    color: var(--SolDropdownHeader-col);
    background: var(--SolDropdownHeader-bg);
    border: var(--SolDropdownHeader-border);
    padding: 0.3rem;
}

.SolDropdownItem {
    color: var(--SolDropdownItem-col);
    background: var(--SolDropdownItem-bg);
    border: var(--SolDropdownItem-border);
    display: inline-flex;
    padding: 0.3rem;
    align-items: center;
    width: 100%;
}

.SolDropdownItem:hover {
    color: var(--SolDropdownItem-col-hover);
    background: var(--SolDropdownItem-bg-hover);
}

.SolButtonBase {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    user-select: none;
}

.SolButtonBase:hover {
    opacity: 0.75;
}

.SolIconButton {
    width: 1.75rem;
    height: 1.74rem;
}

.SolMaterialButton {
    justify-content: center;
    color: var(--mat-color);
    background: var(--mat-bg);
    border: var(--mat-border);
}

.SolMaterialButton:hover {
    color: var(--mat-hover-color);
    background: var(--mat-hover-bg);
}

.SolMaterialButton:focus {
    color: var(--mat-focus-color);
    background: var(--mat-focus-bg);
}

.SolOutlinedButton {
    justify-content: center;
    color: var(--out-color);
    background: var(--out-bg);
    border: var(--out-border);
}

.SolOutlinedButton:hover {
    color: var(--out-hover-color);
    background: var(--out-hover-bg);
}

.SolOutlinedButton:focus {
    color: var(--out-focus-color);
    background: var(--out-focus-bg);
}

fieldset {
    display: inline-block;
    justify-content: space-between;
    border-radius: 0.5rem;
    border: none;
}

fieldset div {
    display: flex;
    align-items: center;
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: var(--input-accent-color);
    width: 1rem;
    height: 1rem;
    margin: .25rem;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    cursor: not-allowed;
}

select {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #D1D5DB;
    outline-style: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: #ffffff;
}

label {
    color: var(--label-col);
    background: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    user-select: none;
    padding: 0.25rem;
}

label[aria-disabled="true"] {
    color: var(--label-disabled-color);
    cursor: not-allowed;
    opacity: 0.75;
}

label p {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--label-p-col);
}

#theme-toggle {
    padding: 0.625rem;
    border-radius: 0.5rem;
    color: var(--theme-toggle-col);
}

#theme-toggle:hover {
    background: var(--theme-toggle-bg-hover);
}
