/*
src/adv/treeview.tsx
src/adv/blog.tsx
src/adv/stepper.tsx
*/

.light {
    --blog-border: 0px solid #ddd;
    --blog-bg: #ffffff;
    --blog-hover-bg: #fef8ff;
    --blog-title-color: #333;
    --blog-underline-color: #9573d9;
    --tag-bg: #636db333;
    --tag-color: #060505;
    --tag-hover-bg: #9573d9;
    --tag-hover-color: #eef788;
    --blog-description-color: #444;
    --stepper-col: #6B7280;
    --stepper-bg: ;
    --stepper-border: ;
}

.night {
    --blog-border: 0px solid #ddd;
    --blog-bg: #282a36;
    --blog-hover-bg: #3c263d;
    --blog-title-color: #ff79c6;
    --blog-underline-color: #9573d9;
    --tag-bg: #636db333;
    --tag-color: #bd93f9;
    --tag-hover-bg: #ffffff42;
    --tag-hover-color: #eef788;
    --blog-description-color: #ccc;
    --stepper-col: #ffffff;
    --stepper-bg: ;
    --stepper-border: 1px solid #E5E7EB;
}

.tree-view {
    display: inline-flex;
    padding: 0.5rem;
    user-select: none;
    background: #565656;
}

.tree-view.horizontal {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.tree-item {
    display: flex;
    padding: 0.25rem;
    cursor: pointer;
}

.tree-item.vertical {
    flex-direction: column;
    background: #ff6767;
}

.tree-item.horizontal {
    flex-direction: row;
    align-items: center;
    background: #9fdf4a;
}

.tree-item:hover {
    background: white;
}

.tree-item-content {
    display: flex;
    align-items: center;
    background: #7878e7;
}

.tree-item-content span {
    background: #6d44ae;
    padding: 0.25rem;
}

.tree-toggle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s ease;
}

.tree-toggle.open.vertical {
    transform: rotate(90deg);
}

.tree-toggle.open.horizontal {
    transform: rotate(180deg);
}

.tree-children.vertical {
    margin-left: 1rem;
    background: yellow;
    padding: 0.2rem;
}

.tree-children.horizontal {
    margin-top: 0rem;
    background: #f37878;
    padding: 0.2rem;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.blog-list {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    width: 70%;
    flex-grow: 1;
}

.blog-item {
    padding: 1rem;
    border: var(--blog-border);
    cursor: pointer;
    transition: background 0.2s;
    position: relative;
    background: var(--blog-bg);
    margin-bottom: 1rem;
    width: 80%;
}

.blog-item:hover {
    background: var(--blog-hover-bg);
}

.blog-item.animate-in {
    animation: fadeSlideIn 1s ease forwards;
}

.blog-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: var(--blog-title-color);
    display: inline-block;
    position: relative;
    margin-bottom: .7rem;
}

.blog-item:hover .blog-title {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: .4rem;
    text-decoration-color: var(--blog-underline-color);
}

.blog-meta {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: .4em;
    margin: 4px 0;
}

.tags {
    background: var(--tag-bg);
    color: var(--tag-color);
    padding: .25rem .5rem;
    border-radius: 0px;
}

.tags:hover {
    background: var(--tag-hover-bg);
    color: var(--tag-hover-color);
}

.blog-list .description {
    font-size: 14px;
    color: var(--blog-description-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-top: .4rem;
}

.blog-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.blog-sidebar {
    width: 30%;
    max-width: 300px;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--sidebar-bg, #f4f4f4);
    padding: 10px;
    overflow-y: auto;
    max-height: 80vh;
}

.blog-link {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: var(--blog-title-color, #333);
    transition: color 0.3s ease, transform 0.3s ease;
}

.blog-link.active {
    font-weight: bold;
    color: var(--blog-underline-color, #9573d9);
    transition: color 0.3s ease, transform 0.3s ease;
    transform: scale(1.05);
}

.stepper {
    color: var(--stepper-col);
    background: var(--stepper-bg);
    border: var(--stepper-border);
    position: relative;
}
