/*
src/md.tsx
src/slides.tsx
src/blog.tsx
src/table.tsx
src/carousel.tsx
*/

.light {
    --MarkdownCode-bg: var(--surface);
}

.night {
    --MarkdownCode-bg: var(--surface);
}

.Markdown {
    background: var(--surface);
}

.MarkdownCode {
    background: var(--MarkdownCode-bg);
}

.MarkdownCode>div {
    padding: .5rem;
    background: var(--primary-container);
    display: flex;
    justify-content: space-between;
}

.Slides {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 40vh;
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        container-type: scroll-state;
        scroll-snap-align: start;
        min-block-size: 40vh;
        scroll-snap-stop: always;
        @supports (container-type: scroll-state) {
            >h1 {
                transition: opacity .5s ease, transform .5s var(--ease-spring-3);
                transition-delay: .5s;
                opacity: 0;
                transform: scale(1.25);
                @container scroll-state(snapped: block) {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
    section:nth-of-type(even) {
        color: hsl(320 80% 90%);
        background: hsl(320 80% 40%);
    }
    section:nth-of-type(odd) {
        color: hsl(290 80% 90%);
        background: hsl(290 80% 40%);
    }
}
.BlogContainer {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.BlogSection {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.BlogAside {
    max-width: 300px;
    max-height: 300px;
    position: sticky;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--surface);
    padding: 20px;
    border-radius: 10px;
    overflow-x: clip;
    overflow-y: auto;
}

.BlogItem {
    padding: 1rem;
}

.BlogItemAnimate {
    animation: fadeSlideIn 1s ease forwards;
}

.BlogLinkActive {
    font-weight: bold;
    color: var(--secondary);
    transition: color 0.5s ease, transform 0.3s ease;
    transform: scale(1.05);
}

.SuperTable {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    background-clip: border-box;
}

.TableHeader {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    background-clip: border - box;
}

.TableFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TableHeaderContainer {
    display: grid;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
}

.CellItem {
    display: flex;
    align-items: center;
}

.TableRowDetails {
    overflow: hidden;
    transition: max-height .8s ease, opacity 0.3s ease;
    max-height: 0;
    opacity: 0;
}

.TableRowDetailsShow {
    padding: 1rem;
    max-height: 4rem;
    opacity: 1;
}

.vcarousel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: contain;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vcarousel li {
    scroll-snap-align: center;
}

.scroll-layout {
    display: grid;
    grid-template-areas: 
    "left scroll right"
    ". markers .";
    grid-template-areas: 
    "scroll scroll scroll"
    "left markers right";
    grid-template-columns: auto 1fr auto;
    .carousel {
        grid-area: scroll;
    }
}
.carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scroll-marker-group: after;
    scrollbar-width: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    padding: 1rem;
    grid: none / auto-flow 40vmin;
    gap: 15px;
    margin: 0;
    &::scroll-button(*) {
        inline-size: 48px;
        aspect-ratio: 1;
        border-radius: 1e3px;
        border: 1px solid var(--primary-container);
        color: var(--primary);
        margin: 5px;
        background: var(--primary-container);
    }
    &::scroll-button(*):focus-visible {
        outline-offset: 5px;
    }
    &::scroll-button(*):disabled {
        color: var(--disabled);
        background: var(--disabled-container);
    }
    &::scroll-button(*):not(:disabled):is(:hover, :active) {
        background-color: var(--primary-container);
    }
    &::scroll-button(*):not(:disabled):active {
        scale: 90%;
    }
    &::scroll-button(left) {
        content: "⬅" / "Scroll Left";
        grid-area: left;
    }
    &::scroll-button(right) {
        content: "⮕" / "Scroll Right";
        grid-area: right;
    }
    &::scroll-marker-group {
        padding: 15px;
        display: flex;
        gap: 0.4em;
        align-items: center;
        place-content: center;
        overflow: auto;
        overscroll-behavior-x: contain;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
    }
    & > li {
        counter-increment: markers;
        &::scroll-marker {
            content: " ";
            padding: 15px;
            text-decoration: none;
            border: 1px solid var(--primary-container);
            border-radius: 20%;
            outline-offset: 4px;
            -webkit-tap-highlight-color: transparent;
            scroll-snap-align: center;
        }
        &::scroll-marker:is(:hover, :focus-visible) {
            border-color: var(--primary);
        }
        &::scroll-marker:target-current {
            background: var(--primary);
        }
    }
    & > li {
        list-style-type: none;
        border: 1px solid #88888844;
        scroll-snap-align: center;
        container-type: scroll-state;
        overflow: hidden;
        >figure {
            display: grid;
            place-items: end stretch;
            >* {
                grid-area: 1 / 1;
                overflow: hidden;
            }
            >figcaption {
                display: grid;
                gap: .5rem;
                transition: transform .3s var(--ease-3);
                background: linear-gradient(to top, var(--secondary-container), 75%, transparent);
                padding-inline: 1.5rem;
                padding-block: 4rem 1rem;
                & h5 {
                    color: var(--primary);
                }
                & p {
                    color: var(--secondary);
                }
            }
        }
        @supports (container-type: scroll-state) {
            @media (prefers-reduced-motion: no-preference) {
                figcaption {
                    transform: translateY(100%);
                    @container scroll-state(snapped: x) {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
