.AppButtonBase {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    user-select: none;
}

.AppButtonBase:hover {
    opacity: 0.75;
}

.AppIcon {
    display: inline-block;
    flex-shrink: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    width: var(--icon-width);
    height: var(--icon-height);
    color: var(--icon-color);
    background: var(--icon-bg);
    border: var(--icon-border);
}

.AppIconButton {
    width: 1.75rem;
    height: 1.74rem;
}

.AppMaterialButton {
    justify-content: center;
    color: var(--mat-color);
    background: var(--mat-bg);
    border: var(--mat-border);
}

.AppMaterialButton:hover {
    color: var(--mat-hover-color);
    background: var(--mat-hover-bg);
}

.AppMaterialButton:focus {
    color: var(--mat-focus-color);
    background: var(--mat-focus-bg);
}

.AppOutlinedButton {
    justify-content: center;
    color: var(--out-color);
    background: var(--out-bg);
    border: var(--out-border);
}

.AppOutlinedButton:hover {
    color: var(--out-hover-color);
    background: var(--out-hover-bg);
}

.AppOutlinedButton:focus {
    color: var(--out-focus-color);
    background: var(--out-focus-bg);
}

.light {
    --out-bg: transparent;
    --out-color: #475569;
    --out-border: 1px solid #cbd5e1;
    --out-hover-bg: #c2c2c238;
    --out-hover-color: #6636e8;
    --out-focus-bg: #f00;
    --out-focus-color: #f00;

    --mat-bg: #3b75c8;
    --mat-color: #ffffff;
    --mat-border: 1px solid #cbd5e1;
    --mat-hover-bg: #4050c7;
    --mat-hover-color: #ffffff;
    --mat-focus-bg: #f00;
    --mat-focus-color: #f00;

    --icon-width: 1.2rem;
    --icon-height: 1.2rem;
    --icon-bg: transparent;
    --icon-color: #475569;
    --icon-border: 0px solid #cbd5e1;
}

.night {
    --out-bg: transparent;
    --out-color: #fff;
    --out-border: 1px solid #cbd5e1;
    --out-hover-bg: #7d8dff4d;
    --out-hover-color: #fff;
    --out-focus-bg: #f00;
    --out-focus-color: #f00;

    --mat-bg: #204477;
    --mat-color: #ffffff;
    --mat-border: 1px solid #cbd5e1;
    --mat-hover-bg: #102747;
    --mat-hover-color: #ffffff;
    --mat-focus-bg: #f00;
    --mat-focus-color: #f00;

    --icon-width: 1.2rem;
    --icon-height: 1.2rem;
    --icon-bg: transparent;
    --icon-color: #ffffff;
    --icon-border: 0px solid #cbd5e1;
}