@tailwind base;
@tailwind components;
@tailwind utilities;

html {}

body {
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  padding: 0px;
  /* overflow: hidden; */
  font-family: monospace, Inter, ui-sans-serif, system-ui;
}

@layer utilities {
  *::-webkit-scrollbar {
    height: 8px;
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  *::-webkit-scrollbar-thumb {
    background: #e0cbcb22;
    border-radius: 100vh;
  }

  *::-webkit-scrollbar-thumb:hover {}
}

.AppIcon {
  @apply shrink-0 text-xs inline-block;
  width: var(--icon-width);
  height: var(--icon-height);
  color: var(--icon-color);
  background: var(--icon-bg);
  border: var(--icon-border);
}

.AppIconButton {
  @apply hover:bg-slate-100 hover:dark:bg-slate-500 rounded w-7 h-7
}

.AppButtonBase {
  @apply flex select-none items-center gap-2 rounded py-2.5 px-4 text-xs font-semibold transition-all hover:opacity-75;
}

.AppMaterialButton {
  @apply AppButtonBase;
  color: var(--mat-color);
  background: var(--mat-bg);
  border: var(--mat-border);
}

.AppOutlinedButton {
  @apply AppButtonBase;
  color: var(--out-color);
  background: var(--out-bg);
  border: var(--out-border);
  background-color: transparent;
}

.AppTextInput {
  @apply my-1 outline-none text-sm rounded-lg w-full;
  color: var(--input-color);
  background: var(--input-bg);
  border: var(--input-border);
}

.AppErrorTextInput {
  @apply border-red-500 dark:border-red-500 focus:border-red-400 dark:focus:border-red-400;
}

.AppCheckboxInput {
  @apply w-4 h-4 select-none rounded;
  accent-color: var(--checkbox-color);
  background: var(--checkbox-bg);
  border: var(--checkbox-border);
}

.AppLabel {
  @apply ms-2 text-sm select-none font-medium;
  color: var(--label-color);
  background: var(--label-bg);
  border: var(--label-border);
}

.AppLabelDisabled {
  @apply ms-2 text-sm select-none font-medium text-gray-400 dark:text-gray-500;
}

.AppHelperLabel {
  @apply text-xs font-normal text-gray-500 dark:text-gray-400;
}

.AppSelect {
  @apply bg-white border border-gray-300 text-gray-900 text-sm rounded-lg outline-none block w-full p-2.5 dark:bg-neutral-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
}

.AppErrorText {
  @apply mt-2 text-sm text-gray-500 dark:text-gray-400;
}

.AppDropdownOption {
  @apply flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700;
}

header {
  background: var(--header-bg);
}

footer {
  background: var(--footer-bg);
}

.secbg {
  color: var(--sec-text-color);
  background: var(--sec-bg-color);
}

a {
  color: var(--a-color);
  background: var(--a-bg);
  border: var(--a-border);
}

a:hover {
  color: var(--a-color-hover);
  background: var(--a-bg-hover);
}

.light {
  --bg-color: white;
  --text-color: #111827;

  --sec-bg-color: white;
  --sec-text-color: #2f2f2f;

  --header-bg: white;
  --footer-bg: white;

  --out-bg: #475569;
  --out-color: #475569;
  --out-border: 1px solid #cbd5e1;

  --mat-bg: #3b75c8;
  --mat-color: #ffffff;
  --mat-border: 1px solid #cbd5e1;

  --icon-width: 1.2rem;
  --icon-height: 1.2rem;
  --icon-bg: #ffffff;
  --icon-color: #475569;
  --icon-border: 0px solid #cbd5e1;

  --input-bg: #ffffff;
  --input-color: #111827;
  --input-border: 1px solid #d1d5db;

  --checkbox-bg: #ffffff;
  --checkbox-color: #111827;
  --checkbox-border: 1px solid #d1d5db;

  --label-bg: #ffffff;
  --label-color: #111827;
  --label-border: 1px solid #d1d5db;

  --a-bg: transparent;
  --a-bg-hover: #111827;
  --a-color: #111827;
  --a-color-hover: #ffffff;
  --a-border: 0px solid #d1d5db;
}

.night {
  --bg-color: #030712;
  --text-color: white;

  --sec-bg-color: #2f2f2f;
  --sec-text-color: #ffffff;

  --header-bg: #111827;
  --footer-bg: #111827;

  --out-bg: #475569;
  --out-color: #475569;
  --out-border: 1px solid #cbd5e1;

  --mat-bg: #204477;
  --mat-color: #ffffff;
  --mat-border: 1px solid #cbd5e1;

  --icon-width: 1.2rem;
  --icon-height: 1.2rem;
  --icon-bg: transparent;
  --icon-color: #ffffff;
  --icon-border: 0px solid #cbd5e1;

  --input-bg: #3b3b3b;
  --input-color: #ffffff;
  --input-border: 1px solid #d1d5db;

  --checkbox-bg: #ff3838;
  --checkbox-color: #3473fc;
  --checkbox-border: 1px solid #6eff75;

  --label-bg: #ffa2a2;
  --label-color: #9b51ef;
  --label-border: 1px solid #0260ec;

  --a-bg: transparent;
  --a-bg-hover: #ffffff;
  --a-color: #ffffff;
  --a-color-hover: #030712;
  --a-border: 0px solid #d1d5db;
}