@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {}

body {
  background: var(--bg-color);
  color: var(--text-color);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  padding: 0px;
  /* overflow: hidden; */
  font-family: monospace, Inter, ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
}

section {
  background: var(--section-bg);
  color: var(--section-color);
}

@layer utilities {
  *::-webkit-scrollbar {
    height: 8px;
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  *::-webkit-scrollbar-thumb {
    background: #e0cbcb22;
    border-radius: 100vh;
  }

  *::-webkit-scrollbar-thumb:hover {}
}

header {
  background: var(--header-bg);
}

footer {
  background: var(--footer-bg);
}

.secbg {
  color: var(--sec-text-color);
  background: var(--sec-bg-color);
}

a {
  color: var(--a-color);
  background: var(--a-bg);
  border: var(--a-border);
}

a:hover {
  color: var(--a-hover-color);
  background: var(--a-hover-bg);
}

.light {
  --bg-color: white;
  --text-color: #111827;

  --section-bg: white;
  --section-color: #111827;

  --sec-bg-color: white;
  --sec-text-color: #2f2f2f;

  --header-bg: white;
  --footer-bg: white;

  --a-bg: transparent;
  --a-color: #111827;
  --a-border: 0px solid #d1d5db;
  --a-hover-bg: transparent;
  --a-hover-color: #6636e8;

  --table-bg: #f9f9f9;
  --table-header-bg: #e3e3e3;
}

.night {
  --bg-color: #030712;
  --text-color: white;

  --section-bg: #030712;
  --section-color: #ffffff;

  --sec-bg-color: #2f2f2f;
  --sec-text-color: #ffffff;

  --header-bg: #111827;
  --footer-bg: #111827;

  --a-bg: transparent;
  --a-bg-hover: #ffffff;
  --a-color: #ffffff;
  --a-color-hover: #030712;
  --a-border: 0px solid #d1d5db;

  --table-bg: #2a2a2a;
  --table-header-bg: #3f3f3f;
}