.AppToggleOptions {
    justify-content: center;
    color: var(--option-color);
    background: var(--option-bg);
    border: var(--option-border);
}

.AppToggleOptions:hover {
    color: var(--option-hover-color);
    background: var(--option-hover-bg);
}

.AppToggleOptions:focus {
    color: var(--option-focus-color);
    background: var(--option-focus-bg);
}

.AppTextInput {
    color: var(--input-color);
    background: var(--input-bg);
    border: var(--input-border);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 0.5rem;
    outline-style: none;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.AppErrorTextInput {
    border-color: #EF4444;
}

.AppErrorText {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6B7280;
}

.AppPositionBoxButton {
    color: var(--position-color);
    background: var(--position-bg);
    border: var(--position-border);
    display: inline-flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    column-gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.AppPositionBoxButton:hover {
    color: var(--position-hover-color);
    background-color: var(--position-hover-bg);
}

.light {
    --position-bg: transparent;
    --position-color: #9c40ca;
    --position-border: none;
    --position-hover-bg: #efefef;
    --position-hover-color: #90328b;

    --option-bg: transparent;
    --option-color: #0000000;
    --option-border: 1px solid #cbd5e1;
    --option-hover-bg: #c2c2c238;
    --option-hover-color: #6636e8;
    --option-focus-bg: #f00;
    --option-focus-color: #f00;

    --input-bg: #ffffff;
    --input-color: #111827;
    --input-border: 1px solid #d1d5db;
}

.night {
    --position-bg: transparent;
    --position-color: #9c40ca;
    --position-border: none;
    --position-hover-bg: #353535;
    --position-hover-color: #faa0f6;

    --option-bg: transparent;
    --option-color: #fff;
    --option-border: 1px solid #cbd5e1;
    --option-hover-bg: #7d8dff4d;
    --option-hover-color: #fff;
    --option-focus-bg: #f00;
    --option-focus-color: #f00;

    --input-bg: #3b3b3b;
    --input-color: #ffffff;
    --input-border: 1px solid #d1d5db;
}