.AppToggleOptions {
    justify-content: center;
    color: var(--option-color);
    background: var(--option-bg);
    border: var(--option-border);
}

.AppToggleOptions:hover {
    color: var(--option-hover-color);
    background: var(--option-hover-bg);
}

.AppToggleOptions:focus {
    color: var(--option-focus-color);
    background: var(--option-focus-bg);
}

.AppErrorTextInput {
    border-color: #EF4444;
}

.AppErrorText {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6B7280;
}

.light {
    --option-bg: transparent;
    --option-color: #0000000;
    --option-border: 1px solid #cbd5e1;
    --option-hover-bg: #c2c2c238;
    --option-hover-color: #6636e8;
    --option-focus-bg: #f00;
    --option-focus-color: #f00;
}

.night {
    --option-bg: transparent;
    --option-color: #fff;
    --option-border: 1px solid #cbd5e1;
    --option-hover-bg: #7d8dff4d;
    --option-hover-color: #fff;
    --option-focus-bg: #f00;
    --option-focus-color: #f00;
}