.flicker-text {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-shadow:
        0 0 10px var(--neon-pink),
        0 0 20px var(--neon-pink),
        0 0 30px var(--neon-pink);
    animation: flicker 2s infinite alternate;
}

@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow:
            0 0 10px var(--neon-pink),
            0 0 20px var(--neon-pink),
            0 0 30px var(--neon-pink);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.neon-blue-text {
    font-size: 1.5rem;
    color: #36e2f8;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #36e2f8;
}