*::-webkit-scrollbar {
  height: 8px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 100vh;
}

*::-webkit-scrollbar-thumb {
  background: #e0cbcb22;
  border-radius: 100vh;
}

*::-webkit-scrollbar-thumb:hover {}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  /* overflow: hidden; */
  font-family: monospace, Inter, ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
}