/*
base.tsx
*/

.light {
    --primary-container: #EADDFF;
    --primary: #6750A4;
    --a-hover-col: #ffac90;
    --a-active-col: #cf90ff;
    --spacing: 1rem;
    --secondary: #625B71;
    --secondary-container: #E8DEF8;
    --surface: #FEF7FF;
    --error: #B3261E;
    --error-container: #F9DEDC;
    --disabled: #6B7280;
    --body-bg: white;
    --body-col: black;
}

.night {
    --primary-container: #4F378B;
    --primary: #9a7ed6;
    --a-hover-col: #ffac90;
    --a-active-col: #cf90ff;
    --spacing: 1rem;
    --secondary: #e04482;
    --secondary-container: #614f61;
    --surface: #64626b87;
    --error: #ff7262;
    --error-container: #8C1D18;
    --disabled: #9CA3AF ;
    --body-bg: black ;
    --body-col: white;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 100vh;
}

*::-webkit-scrollbar-thumb {
    background: var(--primary-container);
    border-radius: 100vh;
}

* {
    scroll-behavior: smooth;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: var(--body-bg);
    color: var(--body-col);
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: monospace, Inter, ui-sans-serif, system-ui;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

h1 {
    font-size: 1.9rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

h2 {
    font-size: 1.7rem;
    line-height: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.025em;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 500;
    letter-spacing: -0.025em;
}

h5 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.025em;
}

h6 {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
}

p,
li {
    font-size: 0.85rem;
    line-height: 1.25rem;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--a-hover-col);
}

a:active,
a.active {
    color: var(--a-active-col);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: row;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.p0 {
    padding: 0;
}

.p1 {
    padding: calc(var(--spacing) * 0.25);
}

.p2 {
    padding: calc(var(--spacing) * 0.5);
}

.p4 {
    padding: calc(var(--spacing) * 1);
}

.p8 {
    padding: calc(var(--spacing) * 2);
}

.p16 {
    padding: calc(var(--spacing) * 4);
}

.m0 {
    margin: 0;
}

.m1 {
    margin: calc(var(--spacing) * 0.25);
}

.m2 {
    margin: calc(var(--spacing) * 0.5);
}

.m4 {
    margin: calc(var(--spacing) * 1);
}

.m8 {
    margin: calc(var(--spacing) * 2);
}

.m16 {
    margin: calc(var(--spacing) * 4);
}

.gap0 {
    gap: 0;
}

.gap1 {
    gap: calc(var(--spacing) * 0.25);
}

.gap2 {
    gap: calc(var(--spacing) * 0.5);
}

.gap4 {
    gap: calc(var(--spacing) * 1);
}

.gap8 {
    gap: calc(var(--spacing) * 2);
}

.gap16 {
    gap: calc(var(--spacing) * 4);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {}
