/*
src/fancy/typewriter.tsx
src/fancy/terminal.tsx
src/fancy/marquee.tsx
*/

.light {

}

.night {

}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.typewriter-animation {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid currentColor;
    animation: typing 1.2s steps(30, end) forwards, blink 0.75s step-end 4;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.marquee {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.marquee span {
    text-transform: uppercase;
    will-change: transform;
    transform: translateX(0);
    white-space: nowrap;
    animation: marquee 24s linear infinite;
    font-size: 200px;
    font-weight: 900;
    color: #b3ff98;
}