/*
src/svg.tsx
*/

.light {
    --icon-width: varl : 1.3rem;
    --icon-height: 1.3rem;
    --icon-color: #338bff;
    --icon-bg: #343434;
}

.night {
    --icon-width: varl : 1.3rem;
    --icon-height: 1.3rem;
    --icon-color: #338bff;
    --icon-bg: #343434;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

svg {
    display: inline-block;
    width: var(--icon-width);
    height: var(--icon-height);
    color: var(--icon-color);
}
