/*
src/input/position.tsx
src/input/position.tsx
src/input/textinput.tsx
src/input/search.tsx
src/input/dropdown.tsx
src/input/checkbox.tsx
*/

.light {
    --SolPositionBox--button-col: #9c40ca;
    --SolPositionBox--button-bg: transparent;
    --SolPositionBox--button-border: none;
    --SolPositionBox--button-col-hover: #90328b;
    --SolPositionBox--button-background-color-hover: #efefef;
    --input-color: #111827;
    --input-bg: #ffffff;
    --input-border: 1px solid #d1d5db;
    --input-focus-border: #f69c3b;
    --input-focus-ring: #3b82f6;
    --input-placeholder: #9ca3af;
    --label-transform-x: 0.10rem;
    --label-transform-y: 0.15rem;
    --label-scale: 0.75;
    /* --label-bg: ; */
    --label-padding: 1rem;
    --label-color: #6B7280;
    --SolDropdown-bg: #e0e0e0;
    --SolDropdownHeader-col: #9c40ca;
    --SolDropdownHeader-bg: #cfcfcf;
    --SolDropdownHeader-border: none;
    --SolDropdownItem-col: #343434;
    --SolDropdownItem-bg: #ebebeb;
    --SolDropdownItem-border: none;
    --SolDropdownItem-col-hover: #d4d4d4;
    --SolDropdownItem-bg-hover: #6b6b6b;
    --input-accent-color: #111827;
    --label-disabled-color: #6B7280;
    --label-col: #111827;
    --label-p-col: #6B7280;
}

.night {
    --SolPositionBox--button-col: #9c40ca;
    --SolPositionBox--button-bg: transparent;
    --SolPositionBox--button-border: none;
    --SolPositionBox--button-col-hover: #faa0f6;
    --SolPositionBox--button-background-color-hover: #353535;
    --input-color: #ffffff;
    --input-bg: #3b3b3b;
    --input-border: 1px solid #525252;
    --input-focus-border: #525252;
    --input-focus-ring: #525252;
    --input-placeholder: #737373;
    --label-transform-x: 0.10rem;
    --label-transform-y: 0.15rem;
    --label-scale: 0.75;
    /* --label-bg: ; */
    --label-padding: 1rem;
    --label-color: #A1A1AA;
    --SolDropdown-bg: #575757;
    --SolDropdownHeader-col: #8a87e3;
    --SolDropdownHeader-bg: #454545;
    --SolDropdownHeader-border: none;
    --SolDropdownItem-col: #f8f8f8;
    --SolDropdownItem-bg: #4f4f4f;
    --SolDropdownItem-border: none;
    --SolDropdownItem-col-hover: #4b4b4b;
    --SolDropdownItem-bg-hover: #d7d7d7;
    --input-accent-color: #3473fc;
    --label-disabled-color: #9CA3AF;
    --label-col: #9b51ef ;
    --label-p-col: #ae93cc;
}

.SolPositionBox {
    display: inline-flex;
}

.SolPositionBox>div {
    position: fixed;
    inset: 0px;
    z-index: 10;
    pointer-events: none;
}

.SolPositionBox>button {
    color: var(--SolPositionBox--button-col);
    background: var(--SolPositionBox--button-bg);
    border: var(--SolPositionBox--button-border);
    display: inline-flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    column-gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.SolPositionBox>button:hover {
    color: var(--SolPositionBox--button-col-hover);
    background-color: var(--SolPositionBox--button-background-color-hover);
}

.SolDragBox {
    position: fixed;
    inset: 0px;
    background-color: #FECACA;
    pointer-events: none;
}

.SolDragBox>div {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    color: #ffffff;
    background-color: #3B82F6;
    cursor: move;
    pointer-events: auto;
}

.AppTextInput {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 0.875rem;
    color: var(--input-color);
    background: var(--input-bg);
    border: var(--input-border);
    border-radius: 0.5rem;
    outline: none;
    resize: vertical;
}

.AppTextInput[data-has-icon="true"] {
    padding-left: 2.75rem;
}

.AppTextInput[data-is-range="true"] {
    cursor: pointer;
}

.AppTextInput:focus {
    border-color: var(--input-focus-border);
    box-shadow: 0 0 0 1px var(--input-focus-ring);
}

.AppTextInput:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.AppTextInput::placeholder {
    color: transparent;
}

.AppTextInput:focus::placeholder {
    color: var(--input-placeholder);
    transition: color 0.2s ease-out;
}

.AppTextInput:focus ~ .SolInputLabel, .AppTextInput:not(:placeholder-shown) ~ .SolInputLabel {
    transform: translateX(var(--label-transform-x))
        translateY(var(--label-transform-y))
        scale(var(--label-scale));
    background-color: var(--label-bg);
    padding: 0 0.25rem;
    left: 0.75rem;
    height: auto;
    opacity: 1;
    color: var(--input-focus-border);
}

.AppTextInput[data-has-label="true"]:focus, .AppTextInput[data-has-label="true"]:not(:placeholder-shown) {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.AppTextInput:disabled~.SolInputLabel {
    opacity: 0.5;
    pointer-events: none;
}

.AppErrorTextInput {
    border-color: #EF4444;
}

.AppErrorText {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6B7280;
}

.SolInputIcon {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-start: 0px;
    align-items: center;
    pointer-events: none;
    padding-inline-start: 1rem;
}

.SolPasswordIcon {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
    inset-inline-end: 0px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    align-items: center;
    cursor: pointer;
}

.SolPasswordIcon:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.SolInputLabel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: var(--label-padding);
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
    transform-origin: 0 0;
    color: var(--label-color);
}

.searchinput {
    position: relative;
}

.searchinput>div {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
    pointer-events: none;
    inset-inline-start: 0px;
    padding-inline-start: 0.75rem;
}

input[type="search"] {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #D1D5DB;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: #F9FAFB;
    padding-inline-start: 2.5rem;
}

.searchinput>button {
    position: absolute;
    bottom: 0.625rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #1D4ED8;
    inset-inline-end: 0.625rem;
    bottom: 0.625rem;
}

.searchinput>button:hover {
    background-color: #1E40AF;
}

.searchinput>button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.SolDropdown {
    background: var(--SolDropdown-bg);
    border-radius: .3rem;
    padding: .3rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.SolDropdownHeader {
    color: var(--SolDropdownHeader-col);
    background: var(--SolDropdownHeader-bg);
    border: var(--SolDropdownHeader-border);
    padding: 0.3rem;
}

.SolDropdownItem {
    color: var(--SolDropdownItem-col);
    background: var(--SolDropdownItem-bg);
    border: var(--SolDropdownItem-border);
    display: inline-flex;
    padding: 0.3rem;
    align-items: center;
    width: 100%;
}

.SolDropdownItem:hover {
    color: var(--SolDropdownItem-col-hover);
    background: var(--SolDropdownItem-bg-hover);
}

fieldset {
    display: inline-block;
    justify-content: space-between;
    border-radius: 0.5rem;
}

fieldset div {
    display: flex;
    align-items: center;
}

input[type="checkbox"], input[type="radio"] {
    accent-color: var(--input-accent-color);
    width: 1rem;
    height: 1rem;
    margin: .25rem;
}

input[type="checkbox"]:disabled, input[type="radio"]:disabled {
    cursor: not-allowed;
}

select {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #D1D5DB;
    outline-style: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: #ffffff;
}

label {
    color: var(--label-col);
    background: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    user-select: none;
    padding: 0.25rem;
}

label[aria-disabled="true"] {
    color: var(--label-disabled-color);
    cursor: not-allowed;
    opacity: 0.75;
}

label p {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--label-p-col);
}
